/*****************************************************
 *  General Styles                                   *
 *****************************************************/
body {
	text-align: center;
	background: url('bg.red.gif');
	background-repeat: repeat-x;
}

/*****************************************************
 *  Header Styles                                    *
 *****************************************************/
#header { 
	margin: 1px 0 0 20px;
	padding: 20px 20px 0 0;
	width: 952px;
	text-align: left;
}

#header img { 
	float: right;
	padding: 0px 20px 0 0;
	width: 200px;
}

#header a img {
	border: 0;
}

#header ul#navlist { 
	margin: 0 0 5px 10px;
	padding: 0;
	font-family: sans-serif;
	font-size: 16px;
	vertical-align: bottom;
}

#header ul#navlist li { 
	margin: 3px 3px;
	padding: 6px 10px;
	display: inline;
	background: #c46f6f;
	border: 2px solid #000000;
}

#header ul#navlist a { 
	color: #FFFFFF;
}

#header ul#navlist li#active {
	text-decoration: underline;
	border-bottom: 2px solid #FFFFFF;
	background: #FFFFFF;
}

#header ul#navlist li#active a {
	color: #000000;
}
#header ul#navlist a:hover {
	text-decoration: underline;
}

/*****************************************************
 *  Content Styles                                   *
 *****************************************************/
#content {
	background-color: #FFFFFF;
	font-family: "Georgia" sans-serif;
	font-size: medium;
	width: 660px;
	border: 3px solid #000000;
	text-align: left;
	padding: 15px 160px 30px 60px;
	margin: 0 0 0 20px;
}

#content h2 { 
	font-size: large;
	padding: 0;	margin: 0;
}

#content br { clear: both; }
#content .highlight { color: #FF0000; }
#content img { text-align: center; }

#content p {
	margin: 0 0 10px 0;
	padding: 0;
}

#content div.title {
	text-align: right;
 	width: auto;
	padding-right :4%;
}

#content table {
	text-align: center;
}

#content table tr {
	background-color: white;
}

#content table tr.grey {
	background-color: #DDDDDD;
}
